@font-face {
    font-family: 'Shrikhand';
    src: local('Shrikhand'), local('Shrikhand-Regular'), url('Shrikhand.woff2') format('woff2'), url('Shrikhand.woff') format('woff'), url('Shrikhand.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
